body{
    padding: 0;
    margin: 0;
    /* background-color: #27B500;  */
    /* height: 100%; */
}

@keyframes rotate{from {transform: rotate(0deg);}
to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

#cargaTexto{
    color: white;
    position: absolute;
    top: 55%;
    left: 48%;
}
#logoCarga{
    color: #F86B01;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: x-large;
    animation: 2s rotate linear infinite;
    -webkit-animation: 2s rotate linear infinite; 
}
#map-template{
    height: 94.5%;
    top: 40px;
    width: 100%;
    position: absolute;
    z-index: 1;
    padding-top: 40px;
    /* margin-top: 40px; */
    /* visibility: hidden; */
}
#contInfo1{
    top: 100px;
    left: 20px;
    width: 120px;
    height: auto;
    
    text-align: center;
    background: greenyellow;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.3);
    border-radius: 5%;
    z-index: 5100;
    position: absolute;
    vertical-align: middle;
}
#textInfo1{
    vertical-align: middle;
    text-justify: auto;

}
.button{
    z-index: 5000;
    width: 60px;
    height: 60px;
    background: #ff0400;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    bottom: 20px;
    left: 43%;
    position: absolute;
    font-size: large;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}
.button:hover{
    box-shadow: 1px 6px 20px 0 rgba(0,0,0,0.8);

}
.hr{
    /* background-color: #27B500; */
    width: 2px;
}
.button:before{
    position: absolute;
    top: 20px;
    left: 9px;
    /* content: ''; */
    width: 25px;
    height: 2px;
    background: #fff;
    transform: rotate(180deg);
}


.button:after{
    position: absolute;
    top: 20px;
    left: 9px;
    /* content: ''; */
    width: 25px;
    height: 2px;
    background: #fff;
}

#btnMenuUp:checked ~ .button{
    transform: rotate(180deg);
    box-shadow: 0 0 0 0 transparent;
    bottom: 400px;
}

#btnMenuUp{
    display: none;
}

@media only screen and (max-width: 600px) {
    .btnMenu {
       font-size: 14px;
       padding: 12px 20px;
       bottom: 20px;
       right: 20px;
   }
} 
#btnMenuUp:checked ~ #card{
    opacity: 1;
    z-index: 1500;
}
#card{
    bottom: 0px; 
    opacity: 0;
    left: 0px;
    transition: all 0.5s ease-in-out;
    background: black;
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.1);
    position: absolute;
    z-index: 500;
}

#contBat{
    top: 100px;
    right: 20px;
    width: 120px;
    height: auto;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
    background: greenyellow;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.3);
    border-radius: 5%;
    z-index: 5100;
    position: absolute;
    vertical-align: middle;
}
#contBat.bateria{
    width: 200%;

}

