<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOSENSOR-TRACKTOR</title>
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/fav_logo_32x32.ico " type="image/x-icon">

    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }
    </style>

</head>

<body>
    <div id="contenidoBody"></div>


    <!-- Librerias -->
    <script src="/js/libs/jquery-3.5.1.min.js"></script>
    <script src="/js/libs/leaflet.js"></script>
    <script src="/js/libs/moment.js"></script>
    <script src="/js/libs/socket.io.js"></script>
    <script src="/js/libs/L.Control.Sidebar.js"></script>
    <script src="/js/libs/MovingMarker.js"></script>
    <script src="/js/libs/w3.js"></script>

    <!-- Funciones -->
    <script src="/js/login.js"></script>
    <script src="/js/funciones.js"></script>
    <!-- <script src="/js/webSocket.js"></script> -->
    <script src="/js/index.js"></script>
    <script src="/js/reporte.js"></script>
    <script src="/js/dispositivo.js"></script>


</body>

</html>